SECRET_KEY=cambia-esta-clave-en-produccion
BANK_NAME=JDM ANGUILA
BANK_ADDRESS=Sucursal Principal
BANK_PHONE=
TICKET_MESSAGE=Conserve este ticket
ADMIN_USER=admin
ADMIN_PASSWORD=admin123
CAJERO_USER=jose
CAJERO_PASSWORD=jose123
CLOSE_BEFORE_DRAW_MINUTES=5
# En Render usa PostgreSQL:
# DATABASE_URL=postgresql://...
